.carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.table-card {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    scroll-snap-align: start;
    background-color: #b1e5ee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Adicionado para indicar que o elemento é clicável */
}

.table-card:hover {
    background-color: #9ad0db; /* Cor alterada para realçar quando o mouse passar por cima */
}

.table-card2 {
    width: 90%;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px; /* Adicionado um espaçamento superior para separar da tabela selecionada */
}

.estilo {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 8px; /* Aumentado o espaçamento interno para os cabeçalhos da tabela */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ebebeb;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4da2fe;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    }
    
    .btn:hover {
        background-color: #0056b3;
    }